/* Since we're using monospace globally, reduce the base font size */
html {
  font-size: var(--sl-text-sm);
}

/*
 * Can override starlight styles here
 * https://github.com/withastro/starlight/blob/main/packages/starlight/style/props.css
 */
:root {
  --__sl-font: "Berkeley Mono", monospace;
  --__sl-font-mono: "Berkeley Mono", monospace;
  --sl-line-height: 1.5;
  --sl-text-code: var(--sl-text-base);
  --sl-text-code-sm: var(--sl-text-sm);
  --sl-color-bg-inline-code: var(--sl-color-gray-6);
  --astro-code-color-background: none;
  --sl-text-2xs: 11px;
  --sl-text-xs: 12px;
  --sl-text-sm: 13px;
  --sl-text-base: 13px;
  --sl-text-lg: 13px;
  --sl-text-xl: 13px;
  --sl-text-2xl: 13px;
  --sl-text-3xl: 13px;
  --sl-text-4xl: 13px;
  --sl-text-5xl: 16px;
  --sl-text-6xl: 14px;
}

/* inline code */
.sl-markdown-content code:not(:where(.not-content *)) {
  background-color: var(--sl-color-gray-6);
}

.sl-markdown-content a {
  text-decoration: dotted underline;
  text-decoration-color: var(--sl-color-gray-3);
  text-underline-offset: 2px;
}

.sl-markdown-content a:hover,
.sl-markdown-content a:active {
  text-decoration: dotted underline;
}

h2 {
  text-transform: uppercase;
  width: fit-content;
  padding: 4px 8px 3px 8px;
}

h3 {
  padding: 4px 8px 3px 8px;
  display: inline-block;
}

h4,
h5,
h6 {
  padding: 3px 8px 2px 8px;
  margin-top: 1rem;
  color: var(--sl-color-gray-2) !important;
  display: inline-block;
  font-weight: normal !important;
}

/* Headings after non-headings have more spacing. */
.sl-markdown-content
  :not(h1, h2, h3 h4, h5, h6)
  + :is(h1, h2, h3):not(:where(.not-content *)) {
  margin-top: 4.5em;
}
.sl-markdown-content
  :not(h1, h2, h3 h4, h5, h6)
  + :is(h4, h5, h6):not(:where(.not-content *)) {
  margin-top: 3.5em;
}

:root[data-theme="dark"] h2,
:root[data-theme="dark"] h3 {
  background-color: var(--sl-color-gray-5);
}
:root[data-theme="dark"] h4,
:root[data-theme="dark"] h5,
:root[data-theme="dark"] h6 {
  background-color: var(--sl-color-gray-5);
}

:root[data-theme="light"] h2,
:root[data-theme="light"] h3 {
  background-color: var(--sl-color-gray-7);
}
:root[data-theme="light"] h5,
:root[data-theme="light"] h6,
:root[data-theme="light"] h4 {
  background-color: var(--sl-color-gray-7);
}

/* Dark mode colors. */
:root[data-theme="dark"] {
  --sl-color-accent-low: #242424;
  --sl-color-accent: #6a6a6a;
  --sl-color-accent-high: #c8c8c8;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #dddddd;
  --sl-color-gray-2: #c2c2c2;
  --sl-color-gray-3: #8b8b8b;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-gray-7: #131313;
  --sl-color-black: #181818;
  --sl-color-blue-low: #000;

  --sl-color-blue: #fff;
  --sl-color-blue-low: #111;
  --sl-color-blue-high: #fff;

  --sl-color-purple: #fff;
  --sl-color-purple-low: #111;
  --sl-color-purple-high: #fff;

  --sl-color-bg: #141414;
  --sl-color-bg-nav: #141414;
  --sl-color-bg-sidebar: #141414;
  --sl-color-hairline-shade: #242424;
  --sl-color-hairline: #242424;

  --color-gref-border-top: var(--sl-color-gray-5);
  --color-gref-border-bottom: var(--sl-color-gray-6);
  --color-gref-border-left: var(--sl-color-gray-5);
  --color-shadow: rgba(0, 0, 0, 0.8);
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #d7d7d7;
  --sl-color-accent: #222222;
  --sl-color-accent-high: #323232;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #cccccc;
  --sl-color-gray-6: #dddddd;
  --sl-color-gray-7: #eeeeee;
  --sl-color-black: #ffffff;

  --sl-color-blue: #000;
  --sl-color-blue-low: #eee;
  --sl-color-blue-high: #000;

  --sl-color-purple: #000;
  --sl-color-purple-low: #eee;
  --sl-color-purple-high: #000;

  --color-gref-border-top: var(--sl-color-gray-6);
  --color-gref-border-bottom: var(--sl-color-gray-5);
  --color-gref-border-left: var(--sl-color-gray-6);
  --color-shadow: rgba(0, 0, 0, 0.2);
}

a[aria-current="page"],
a[aria-current="page"]:hover,
.a[aria-current="page"]:focus {
  font-weight: 600;
  color: var(--sl-color-text-accent);
  background-color: var(--sl-color-gray-6);
}

/* Colors that are dark/light indenpendent */
:root {
  --sl-color-text: var(--sl-color-gray-3);
  --color-field: var(--sl-color-white);
  --color-action: rgb(255, 50, 255);
  --color-event: rgb(120, 80, 255);
  --sl-color-text-accent: var(--sl-color-white);
}

/* Hack to ensure logo is never larger than sidebar */
.site-title img {
  max-width: 88%;
}

/* rm border radius from search bar, sidebar links */
button[aria-label="Search"],
li > a {
  border-radius: 0;
}

/* Customize markdown lists */
.sl-markdown-content > ul:not(.roadmap-list) {
  list-style-type: square;
  padding-left: 32px;
}

/*
 * Hack: without this, inline code font-size is unexpectedly small,
 * even though it is using var(--sl-text-sm) like other text
 */
.sl-markdown-content code {
  font-size: 1rem;
  color: var(--sl-color-gray-2);
}

.sl-markdown-content pre:not(:where(.not-content *)) {
  border-color: var(--sl-color-gray-6);
}

.sl-container h1 {
  margin-top: 0;
}

strong {
  color: var(--sl-color-gray-2);
}

/* Add some better default styling to videos, images */
.sl-markdown-content video,
.sl-markdown-content img {
  max-width: calc(100% - 8px);
  object-fit: cover;
  padding: 10px;
  margin: 16px 0 32px 0;
  border: 1px solid var(--sl-color-accent-high);
  box-shadow:
    1px 1px var(--sl-color-accent-high),
    2px 2px var(--sl-color-accent-high),
    3px 3px var(--sl-color-accent-high),
    4px 4px var(--sl-color-accent-high),
    5px 5px var(--sl-color-accent-high);
}

/* All videos are larger than the content (some images are not) */
.sl-markdown-content video {
  width: calc(100% - 8px);
}

/* Customize pagination link buttons */
.pagination-links > a,
starlight-menu-button > button,
dialog {
  border-radius: 0;
  background-color: var(--sl-color-bg-nav);
  border-color: var(--sl-color-hairline-light) !important;
  &:hover {
    background-color: var(--sl-color-bg-inline-code);
  }
}

.sl-container .twoslash {
  overflow-y: hidden;
  --twoslash-popup-bg: var(--sl-color-bg-inline-code);
  --twoslash-docs-color: var(--sl-color-text);
}

p {
  text-wrap: pretty;
}

:root[data-theme="dark"] starlight-menu-button > button > svg {
  color: white;
}

.large {
  text-transform: uppercase;
}

/* This is important so that the JSDoc hovers are not clipped but it forces us to
 * keep our code blocks to ~70 characters wide
 */
.astro-code {
  overflow: visible !important;
  font-size: 12px !important;
}

.starlight-aside--note {
  --sl-color-asides-text-accent: var(--sl-color-gray-1);
  --sl-color-asides-border: var(--sl-color-gray-4);
  background-color: var(--sl-color-blue-low);
}

.starlight-aside {
  padding: 1rem;
  border-inline-start: 1px solid var(--sl-color-asides-border);
  color: var(--sl-color-gray-3);
}

table {
  /* Starlight makes table display: block for some reason */
  display: table !important;
  width: 100%;
  padding: 0px 1ex;
}

td,
th {
  padding-inline-start: 1ex !important;
}

/* Blinking cursor in expressive code blocks */
.expressive-code .twoslash-cursor {
  width: 2px !important;
  background-color: var(--sl-color-white) !important;
}

/* Code blocks */
.expressive-code .frame pre {
  background: none !important;
}

.pagination-links a {
  box-shadow: none;
  border: none;
}
