/* Since we're using monospace globally, reduce the base font size */
html {
  font-size: var(--sl-text-sm);
}

/*
 * Can override starlight styles here
 * https://github.com/withastro/starlight/blob/main/packages/starlight/style/props.css
 */
:root {
  --__sl-font: "Berkeley Mono", monospace;
  --__sl-font-mono: "Berkeley Mono", monospace;
  --sl-line-height: 1.5;
  --sl-text-code: var(--sl-text-base);
  --sl-text-code-sm: var(--sl-text-sm);
}

/* Dark mode colors. */
:root[data-theme="dark"] {
  --sl-color-accent-low: #242424;
  --sl-color-accent: #6a6a6a;
  --sl-color-accent-high: #c8c8c8;
  --sl-color-white: #eee;
  --sl-color-gray-1: #ddd;
  --sl-color-gray-2: #c2c2c2;
  --sl-color-gray-3: #8b8b8b;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #181818;
  --sl-color-blue-low: #000;

  --sl-color-blue: #fff;
  --sl-color-blue-low: #111;
  --sl-color-blue-high: #fff;

  --sl-color-purple: #fff;
  --sl-color-purple-low: #111;
  --sl-color-purple-high: #fff;

  --sl-color-text-accent: #fff;
  --sl-color-bg: #141414;
  --sl-color-bg-nav: #141414;
  --sl-color-bg-sidebar: #141414;
  --sl-color-hairline-shade: #242424;
  --sl-color-hairline: #242424;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #d7d7d7;
  --sl-color-accent: #6b6b6b;
  --sl-color-accent-high: #323232;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eeeeee;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-black: #ffffff;

  --sl-color-blue: #000;
  --sl-color-blue-low: #eee;
  --sl-color-blue-high: #000;

  --sl-color-purple: #000;
  --sl-color-purple-low: #eee;
  --sl-color-purple-high: #000;

  --sl-color-text-accent: #000;
}

/* Hack to ensure logo is never larger than sidebar */
.site-title img {
  max-width: 88%;
}

/* rm border radius from search bar, sidebar links */
button[aria-label="Search"],
li > a {
  border-radius: 0;
}

/* Customize markdown lists */
.sl-markdown-content > ul:not(.roadmap-list) {
  list-style-type: square;
  padding-left: 32px;
}

/*
 * Hack: without this, inline code font-size is unexpectedly small,
 * even though it is using var(--sl-text-sm) like other text
 */
.sl-markdown-content code {
  font-size: 1rem;
}

/* Add some better default styling to videos, images */
.sl-markdown-content video,
.sl-markdown-content img {
  width: calc(100% - 8px);
  max-width: 720px;
  object-fit: cover;
  padding: 8px;
  margin: 16px 0 32px 0;
  border: 1px solid var(--sl-color-accent-high);
  box-shadow:
    1px 1px var(--sl-color-accent-high),
    2px 2px var(--sl-color-accent-high),
    3px 3px var(--sl-color-accent-high),
    4px 4px var(--sl-color-accent-high),
    5px 5px var(--sl-color-accent-high);
}

/* Customize pagination link buttons */
.pagination-links > a,
starlight-menu-button > button,
dialog {
  border-radius: 0;
  background-color: var(--sl-color-bg-nav);
  border-color: var(--sl-color-hairline-light) !important;
  &:hover {
    background-color: var(--sl-color-bg-inline-code);
  }
}

.sl-container .twoslash {
  overflow-y: hidden;
  --twoslash-popup-bg: var(--sl-color-bg-inline-code);
  --twoslash-docs-color: var(--sl-color-text);
}

p {
  text-wrap: pretty;
}

starlight-menu-button > button > svg {
  color: white;
}
