a.feedback {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 1px 6px;
  color: var(--sl-color-text);
  background-color: transparent;
  border: 1px solid var(--sl-color-text);
  border-radius: 4px;
  font-family: var(--__sl-font-mono);
  font-size: 0.875rem;
  text-decoration: none;
  cursor: pointer;
}
